.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
    background-color: var(--bgSoft);
    height: 500px;
    width: 500px;
    border-radius: 10px;
}
.form input{
    width: 100%;
    padding: 30px;
    border: 2px solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
}
.form button{
    width: 100%;
    padding: 30px;
    border: none;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
}
  

  
